<table class>
  <tr>
    <td>
      Titulo
    </td>
    <td>
      Descrição
    </td>
  </tr>
  @foreach (var item in Model)
  {
  <table>
    <tr>
       <td>@item.Titulo</td>
       <td>@item.Descricao</td>
    <tr>
  </table>
 
  }
